deep-translator==1.10.1
#-e git+https://github.com/facebookresearch/detectron2.git@58e472e076a5d861fdcf773d9254a3664e045bf8#egg=detectron2
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2

largestinteriorrectangle==0.2.0
manga-ocr==0.1.8
numpy==1.23.1
opencv-python-headless==4.7.0.68
Pillow==9.4.0
streamlit==1.22.0
torch==1.10.1
torchvision==0.11.1